POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name

NODE_ENV=development
APP_ORIGIN=your_app_origin
PORT=your_port
DATABASE_URL=postgresql://user:password@db:5432/db_name
ADMIN_KEY=your_admin_key_here