POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name

NODE_ENV=development
APP_ORIGIN=http://localhost:5173
PORT=7000
DATABASE_URL=postgresql://user:password@db:5432/db_name
ADMIN_KEY=your_admin_key_here